@model IEnumerable<DMCoreV2.ViewModels.BlogViewModels.BlogPostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<p>
    Below are a few of the latest posts from some of our explorers.
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
        @Html.Partial("_PostPartial", post)
    }
</div>

